@font-face {
	font-family: "Lexend Deca";
	font-display: swap;
	font-weight: 400;
	src: url('./LexendDeca-VariableFont_wght.ttf');
}


@font-face {
	font-family: "Big Shoulders";
	font-display: swap;
	font-weight: 700;
	src: url('./BigShouldersDisplay-VariableFont_wght.ttf');
}
