/* Refer to style.css for each custom properties used */

 body {
   display: grid;
   min-height: 100vh;
   place-items: center;
 }
 
 main {
   max-width: 50rem; 
 }
 
 .attribution {
   padding-top:  var(--padding-sm);
 }
 
 .grid-flow {
   align-content: space-between;
 }
 
 .result-summary {
   border-radius: var(--rounded-md);
   box-shadow: 5px 20px 30px hsla(var(--hls-light-royal-blue), 10%);
   display: grid;
   grid-template-columns: repeat(2, 1fr);
 }
 
 .result {
  border-radius: inherit;
 }
 
 .result-desc {
  width: 28ch;
 }