/* --GENERAL RULES-- */
@font-face {
  font-family: "HankenGrotesk";
  src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  /* Primary */
  --clr-light-red: hsl(0, 100%, 67%);
  --clr-orange-yellow: hsl(39, 100%, 56%);
  --clr-green-teal: hsl(166, 100%, 37%);
  --clr-cobalt-blue: hsl(234, 85%, 45%);
  
  /* Primary hsl */
  --hsl-light-red: 0, 100%, 67%;
  --hsl-orange-yellow: 39, 100%, 56%;
  --hsl-green-teal: 166, 100%, 37%;
  --hsl-cobalt-blue: 234, 85%, 45%;
  
  /* Gradient */
  --clr-light-slate-blue: hsl(252, 100%, 67%);
  --clr-light-royal-blue: hsl(241, 81%, 54%);
    
  /* Gradient circle */
  --clr-violet-blue: hsla(256, 72%, 46%, 1);
  --clr-persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral */
  --clr-white: hsl(0, 0%, 100%);
  --hsl-white: 0, 0%, 100%;
  --clr-pale-blue: hsl(221, 100%, 96%);
  --clr-light-lavender: hsl(241, 100%, 89%);
  --clr-dark-gray-blue: hsl(224, 30%, 27%);
  
  --fs-sm: 1.125rem;
  --fs-md: 1.25rem;
  --fs-lg: 1.5rem; 
  
  --fw-bold-sm: 500;
  --fw-bold-md: 800;
  --fw-bold-lg: 900;
  
  --rounded-full: 100%;
  --rounded-sm: 1rem;
  --rounded-md: 2rem;
  --rounded-lg: 3rem;
  
  --padding-sm: 1rem;
  --padding-md: 2rem;
}

*, 
*::after,
*::before {
  font: inherit;
  box-sizing: border-box;
}

html,
body {
  font-family: "HankenGrotesk";
  margin: 0;
  text-rendering: optimizeSpeed;
}

svg,
img {
  max-width: 100%;
}





/* --- Other Styles --- */ 
.attribution { 
  text-align: center;
} 

.grid-flow {
  align-content: flex-start;
  display: grid;
  gap: 1rem;
}

.grid-flow[data-gap="md"] {
  gap: 1.5rem;
}

.result {
  background: linear-gradient(to top, var(--clr-light-royal-blue), var(--clr-light-slate-blue));
  color: hsla(var(--hsl-white), .6);
  text-align: center;
  border-radius: 0 0 var(--rounded-md) var(--rounded-md);
} 

.result h1,
.result > *{
  width: fit-content;
  margin: auto;
}

.result,
.summary {
  padding: var(--padding-md);
}

.result-percentage {
  aspect-ratio: 1/1;
  background: linear-gradient(to bottom, var(--clr-violet-blue), var(--clr-persian-blue));
  border-radius: var(--rounded-full);
  color: hsla(var(--hsl-white), .4);
  padding: var(--padding-md);
  width: 10rem;
}

.result-score {
  color: var(--clr-white);
  display: block;
  font-size: 4rem;
  font-weight: var(--fw-bold-md);
}

.result-desc {
  font-weight: var(--fw-bold-sm);
  width: 31ch;
}

.result-desc-header {
  color: var(--clr-white);
  display: block;
  padding-bottom: .5rem;
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold-md);
}

.summary {
  color: var(--clr-dark-gray-blue);
}

.title {
  font-size: var(--fs-md);
  font-weight: var(--fw-bold-md);
  margin: 0;
}

.summary-item[data-accent-type="1"] {
  --item-hsl-value: var(--hsl-light-red);
}
.summary-item[data-accent-type="2"] {
  --item-hsl-value: var(--hsl-orange-yellow);
}
.summary-item[data-accent-type="3"] {
  --item-hsl-value: var(--hsl-green-teal);
}
.summary-item[data-accent-type="4"] {
  --item-hsl-value: var(--hsl-cobalt-blue);
}

.summary-item {
  background: hsla(var(--item-hsl-value), .05);
  border-radius: calc(var(--rounded-sm) * .6);
  color: hsl(var(--item-hsl-value));
  display: flex;
  font-weight: var(--fw-bold-md);
  justify-content: space-between; 
  padding: calc(var(--padding-sm) * 1.25);
  stroke: hsl(var(--item-hsl-value));
}

.summary-item .icon {
  padding-right: .5rem;
}
 
.summary-item p {
  padding: 0px;
  margin: 0px;
}

.summary-item-percentage {
  color: lightgray; 
}

.summary-item-score {
  color: var(--clr-dark-gray-blue); 
}

.summary-category {
  display: flex;
  align-items: center;
}

.cta-btn {
  background: var(--clr-dark-gray-blue);
  border: 0px;
  border-radius: 2rem;
  color: white;
  font-weight: var(--fw-bold-md);
  padding: var(--padding-sm);
}

.cta-btn:hover {
  background: var(--clr-cobalt-blue);
  cursor: pointer;
}