/*
 * Table 
 * ______________________
 *
 * 1. Custom Properties
 * 2. Global 
 * 3. Typography 
 * 4. Blocks 
 * 5. Components 
 * 6. Utilities 
 * 7. Keyframes
 * 8. Media Query
 *
 */


/* -- Custom Properties -- */ 
:root {

/* colors */ 

  /* Shades of Grey */
--clr-grey-50: #656266;
--clr-grey-100: #404040;
--clr-grey-200: #322F33;
--clr-grey-300: #1C181D;

  /* Font Color */
--clr-light: #E3E3E3;
--clr-mid: #616161;
--clr-dark: #303030;

  /* Strokes */
--clr-s50: #EBEBEB;
--clr-s100: #E1E1E1;
--clr-s200: #616161;

  /* State */
--clr-hover: #F7F7F7;
--clr-pressed: #F0F0F0;
--clr-focus: #005BD3;

  /* Plain */
--clr-bg-white: #FFFFFF;
--clr-bg-grey: #F1F1F1;

  /* Other Color */ 
--clr-green: #36FBA1;
--clr-dark-green: #209761;
--clr-search: #B5B5B5;
--clr-grey-150: #8A8A8A;


  /* Border Radius */ 
--bdr-sm: .25rem;
--bdr-md: .5rem;
--bdr-lg: 1rem; 


  /* Sizes */ 
--size-1: .5rem;
--size-2: .75rem;
--size-3: 1rem;
--size-4: 1.5rem;
--size-5: 2rem;
}





/* -- Global -- */ 
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background: var(--clr-bg-grey);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

main {
  position: relative;
}

img,
svg,
picture {
  display: block;
  width: 100%;
}





/* -- Typography -- */
@font-face {
  font-family: "Inter";
  src: url("./font/Inter-var.ttf");
  display: swap;
}

body {
  color: var(--clr-dark);
  font-family: "Inter", sans-serif;
}

.text-center {
 text-align: center;
}

.text-12,
.text-13,
.text-14 {
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 130%;
}

.text-13,
.text-14 {
  line-height: 140%;
}

.text-12 {
  font-size: 12px
}

.text-13 {
  font-size: 13px
}

.text-14 {
  font-size: 14px
}
.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 600;
}

input, 
button, 
textarea, 
select {
  font: inherit;
}





/* -- Blocks -- */
header {
  background: var(--clr-grey-300);
}

.setup{
  background: var(--clr-bg-white);
  border: 1px solid var(--clr-s100);
  max-height: 118px;
  overflow: hidden;
  transition: max-height ease-out .5s;

  &.open {
    max-height: 100%;
  }

  &  .btn {
    width: fit-content;

  }

  /* Progress Bar */

  & progress[value] { 
    border-radius: 1rem;
    height: .3rem;
    width: 5rem;
  }
  
  & progress[value]::-webkit-progress-bar {
    background: var(--clr-light);
    border-radius: 1rem;
    overflow: hidden;
  }

  & progress[value]::-webkit-progress-value {
    background: var(--clr-grey-200);
    transition: all ease .3s;
  }

  & .setup-step {
    border-radius: var(--bdr-md);
    position: relative;
    max-height: 38px;
    overflow: hidden;
    transition: max-height ease-out .3s;

    & .setup-step-content {
      display: none;
    }

    &.open {
      display: flex;
      background: var(--clr-bg-grey);
      max-height: 100%;

    & .setup-step-content {
      display: flex;
    }
      & .setup-step-img {
        opacity: 1; 
      }

      & .accordion {
        background: var(--clr-bg-grey);
      }
    }

  }

  & .setup-step-msg {
    color: var(--clr-mid);
    font-weight: 500;
    max-width: 480px;
  }
  
  & .setup-step-img {
    bottom: 15px;
    display: none;
    height: 120px;
    opacity: 0;
    right: 10px;
    position: absolute;
    width: 157px;
    transition: opacity ease-out .3s;

    &::before {
      background: #F1F1F1;
      bottom: 8px;
      content: "";
      filter: blur(3px);
      position: absolute;
      width: 100%;
      height: 10px;

    }
  }

  & .setup-step-msg-btn {
    margin-left: 2.6rem;
    margin-bottom: .5rem;
    width: fit-content;
  }
}



/* -- Components -- */ 
.b-1 {
  border: 1px solid red;
}

/* alwrts */
.alerts {
  display: none;
  width: 95%;

  & .alerts-note {
    background: var(--clr-bg-grey);
  }
}

.overlay-box {
  background: white;
  border: 1px solid var(--clr-s100);
  border-radius: var(--bdr-lg);
  position: absolute;
  top: 15px;
  transition: opacity ease-out .3s;
  z-index: 10;

}
 

.step-checker-accordion {
  padding: .5rem;

  & button {
    background: transparent;
    border: none;
    border-radius: var(--bdr-md);
    color: var(--clr-dark);

    & svg {
      width: 26px;
      transition: all ease  .1s;

      &.dash-circle {    
      }

      &.spinner {
        padding: 2px;
        animation: spin linear 1s infinite;
      }

      &.check-mark {
        animation: zoom-in-spin linear .3s;
      }
    }

    &:hover {
      background: var(--clr-hover);

      &.dash-circle  circle {
        stroke-dasharray: 0 0;
      }
    }

    &:active {
      background: var(--clr-pressed);
    }

    &:focus {
      border-radius: var(--bdr-sm);
      color: var(--clr-dark);
      outline: 2px solid var(--clr-focus);
      outline-offset: 2px;

      &.dash-circle circle {
        stroke-dasharray: 0 0;
      }
    }
  }

  & .step-checker {
    padding: 0px;
    position: relative;


  }
}


  /* button */ 
.btn {
  background: var(--clr-grey-200);
  border: none;
  border-radius: var(--bdr-md);
  color: var(--clr-light);
  font-weight: 600;
  padding-block: calc(var(--size-1) - .1rem);
  padding-inline: var(--size-1);
  text-decoration: none;

  & svg {
    transform: scale(1.2);
  }

  &.btn-neutral {
    color: var(--clr-dark);
    background: transparent;


    & svg {
      fill: var(--clr-dark);
      background: transparent;
    }

    &:hover,
    &:hover svg {
      background: var(--clr-hover);
    }

    &:active,
    &:active svg {
      background: var(--clr-pressed);
    }

    &:focus,
    &.active {
      color: var(--clr-dark);
      outline: 2px solid var(--clr-focus);
      outline-offset: 2px;
    }

    &:focus svg path,
    &.active {
      fill: var(--clr-dark);
    }
  }

  &.btn-neutral-dark {
    color: var(--clr-light);
    background: transparent;

    & svg path {
      fill: var(--clr-light);
      background: transparent;
    }

    &:hover,
    &:hover svg {
      background: var(--clr-grey-100);
    }

    &:active,
    &:active svg {
      background: var(--clr-grey-50);
    }

    &:focus,
    &.active {
      outline: 2px solid var(--clr-focus);
      outline-offset: 2px;
    }

  }

  &.btn-white {
    color: var(--clr-dark);
    background: white;
    box-shadow: 0px 1px var(--clr-s200);
    position: relative;

    &::before {
      background: transparent;
      border: 1px solid var(--clr-s100);
      border-bottom: 0px; 
      content: "";
      border-radius: inherit;
      inset: 0;
      padding: inherit;
      position: absolute;
    }

    &:hover {
      background: var(--clr-hover);
    }

    &:active::before {
      border: none;
    }

    &:active {
      background: var(--clr-pressed);
      border-color: transparent;
      box-shadow: inset 0px 2px 2px var(--clr-s100);
    }

    &:focus {
      outline: 2px solid var(--clr-focus);
      outline-offset: 2px;
    }
  }

  &.btn-black {
    background: var(--clr-grey-100);
    border: 2px solid var(--clr-s200);
    border-bottom: none;
    box-shadow: 0px 2px black;
    isolation: isolate;
    position: relative;
    z-index: 2;

    &:active {
      border-color: transparent;
      box-shadow: 0px 0px black;
    }
    
    &:active::after{
      border-top: 2px solid black;
    }

    &:focus::before {
      outline: 2px solid var(--clr-focus);
      outline-offset: 1.5px;
    }

    &:hover {
      background: var(--clr-grey-200);
    }

    &::after {
      content: "";
      border: none;
      border-radius: inherit;
      inset: 0;
      padding: inherit;
      margin-inline: -1.5px;
      position: absolute;
      transform: scaleY(1.12);
    }

    &::before {
      background: var(--clr-grey-200);
      content: "";
      border-radius: inherit;
      inset: 0;
      isolation: isolate;
      padding: inherit;
      margin-inline: -4px;
      mix-blend-mode:color;
      position: absolute;
      transform: scaleY(1.21);
      z-index: -1;
    }
  }


  &.tag {
    
    &:hover {
      background: var(--clr-grey-100);
    }
    
    &:active {
      background: var(--clr-grey-50);
    }

    &:focus,
    &.active {
      background: var(--clr-grey-50);
      outline: 2px solid var(--clr-focus);
      outline-offset: 1px;
    }
  }
}

  /* link */ 
.link {
  color: var(--clr-focus);
  font-weight: 500;
  text-decoration: none;

  &:is(
    :hover,
    :active,
    :focus){
    text-decoration: underline;
  }
}

  /* logo */
.logo {
  height: 34px;
  width: 34px;
}

  /* notification */
.notification {
  background: transparent;
  width: 36px;
}


  /* Plan Notifier */ 
.plan-notifier {
  background: var(--clr-grey-300);
  color: var(--clr-light);
  margin-inline: 1rem;

  & button {
    width: fit-content;
  }

  & div {
    align-items: flex-start;
  }
}

  /* Search */
.search{
  background: var(--clr-grey-200);
  border: 2px solid transparent;
  border-radius: var(--bdr-md);
  padding-block: var(--size-1);
  position: relative;
  width: 100%;

  &::after {
    background: transparent;
    border: 1px solid var(--clr-s200);
    content: "";
    border-radius: inherit;
    inset: 0;
    margin-inline: -2px;
    padding: inherit;
    position: absolute;
    transform: scaleY(1.12);
  }

  &:hover::after {
    border-color: var(--clr-s100);
  }

  .search-icon {
    height: 14px;
    margin-left: .8rem;
    margin-right: .6rem;
    transform: scale(1.4);
    width: 13px;

    & path {
      fill: var(--clr-search);
    }
  }

  .search-box {
    background: transparent;
    border: none;
    color: var(--clr-search);
    outline: none;
    width: 100%;

    &::placeholder {
      color: var(--clr-search);
    }

    &:is(
      :hover, 
      :active, 
      :focus ) {
      outline: none;
    }

  }
}


/* Style .search-box container(.search) when active and on focus */ 
div:has(
  .search-box:is(
    :active, 
    :focus )) {
    border-color: var(--clr-s50);
    border-width: 2px;
}


/* store-btn */ 
.store-btn {
  border-radius: calc(var(--bdr-md) * .8);
  padding: 0px;
  font-weight: 400;

  & .store-full-name {
    display: none;
    padding-inline: var(--size-1);
    text-wrap: nowrap;
    text-transform: capitalize;
  }

}


.store-init-name {
  background: var(--clr-green);
  border-radius: calc(var(--bdr-md) * .8);
  color: var(--clr-dark-green); 
  display: block;
  padding: var(--size-1);
  text-transform: uppercase;
}


/* Increase specificity for .store-menu on display property*/
body main .store-menu {
  display: none;
} 

.store-menu {
  display: none;
  right: 1rem;
  width: 82%;

  & .store-details{
    padding-top: .5rem;
    padding-left: .8rem;
  }

  & li {
    margin-inline: .35rem;
    padding: .35rem;

    &:first-child {
      margin-top: .35rem;
    }

    &:last-child {
      margin-bottom: .35rem;
    }
  }


  & .store-item {
    padding-block: .2rem;

    & svg {
      width: 20px;
    }
  }

  & a {
    font-weight: 400;
    width: 100%;
  }

  & hr {
    border-top: 1px solid var(--clr-s50);
    margin-block: .25rem;
  }

  & .store-mail {
    color: var(--clr-mid);
  }

  & .store-stamp {
    background: var(--clr-bg-grey);
    border-radius: var(--bdr-md);
    padding-inline: .25rem;
    padding-block: 0rem;
    margin-bottom: 0px;
  }
}




/* -- Utilites -- */ 
.align-center {
  align-items: center;
} 

.auto-width {
  max-width: 800px;
  width: 100%;
}

.fade-off {
  opacity: 0;
  transition: opacity ease-out .3s;
}

.flex-dir-row,
.flex-dir-row-to-col{
  flex-direction: row;
}

.flex-dir-col,
.flex-dir-col-to-row{
  flex-direction: column;
}

.flex-flow {
  display: flex;
}

.hide {
  display: none;
}

.gap-sm {
  gap: .5rem;
}

.gap-md {
  gap: 1rem;
}

.gap-lg {
  gap: 1.5rem;
}

.grid-flex {
  display: grid;
  justify-items: center;
  align-content: start;
}

.m-1 {
  margin: var(--size-1);
}

.m-2 {
  margin: var(--size-2);
}

.m-3 {
  margin: var(--size-3);
}

.m-4 {
  margin: var(--size-4);
}

.m-5 {
  margin: var(--size-5);
}


.mb-1rem {
  margin-bottom: var(--size-3);
}
.mb-2rem {
  margin-bottom: var(--size-5);
}

.mt-1rem {
  margin-top: var(--size-3);
}

.mt-2rem {
  margin-top: var(--size-5);
}

.list-none {
  list-style: none;
  padding-left: 0px;
}

.p-1 {
  padding: var(--size-1);
}

.p-2 {
  padding: var(--size-2);
}

.p-3 {
  padding: var(--size-3);
}

.p-4 {
  padding: var(--size-4);
}

.p-5 {
  padding: var(--size-5);
}


.pt-1rem {
  padding-top: var(--size-3);
}

.pt-2rem {
  padding-top: var(--size-5);
}

.space-btw {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}





/* keyframes */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}


@keyframes zoom-in-spin {
  from {
    transform: scale(0) rotate(300deg);
    opacity: 0;
  }
  
  to {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}







/* -- Media Query -- */ 
@media screen and (min-width: 800px) {

  /* >> Block << */
  .setup {
    border-radius: var(--bdr-lg);
    height: 110px;


    & .setup-step-img {
      display: block;
    }
  }





  /* >> Components << */

  .logo {
    width: 102px;
  }

  .overlay-box {
    width: 380px;
    right: 1rem;
  }

  .plan-notifier {
    border-radius: var(--bdr-md);

    & div {
      align-items: center;
    }
  }

  .notification {
    background: var(--clr-grey-200);
  }

  .search {
    width: 480px;
  }

  .store-btn {
    border-radius: var(--bdr-md);
    padding: 2px;

    & .store-full-name {
      display: block;
    }
  }





  /* Utilities */
  .flex-dir-col-to-row {
    flex-direction: row;
  }

  .flex-dir-row-to-col {
    flex-direction: column;
  }

  .auto-width {
    width: 800px;
  }
}
