/*
 * Table 
 * ______________________
 *
 * 1. Custom Properties
 * 2. Global 
 * 3. Typography 
 * 4. Blocks 
 * 5. Components 
 * 6. Utilities 
 * 7. Media Query
 *
 */


/* -- Custom Properties -- */ 
:root {

/* colors */ 

  /* Shades of Grey */
--clr-grey-50: #656266;
--clr-grey-100: #616161;
--clr-grey-200: #322F33;
--clr-grey-300: #1C181D;

  /* Font Color */
--clr-light: #E3E3E3;
--clr-mid: #616161;
--clr-dark: #303030;

  /* Strokes */
--clr-s50: #EBEBEB;
--clr-s100: #F0F0F0;
--clr-s200: #616161;

  /* State */
--clr-hover: #F7F7F7;
--clr-pressed: #F0F0F0;
--clr-focus: #005BD3;

  /* Plain */
--clr-bg-white: #FFFFFF;
--clr-bg-grey: #F1F1F1;

  /* Other Color */ 
--clr-green: #36FBA1;
--clr-dark-green: #209761;
--clr-search: #B5B5B5;


  /* Border Radius */ 
--bdr-sm: .25rem;
--bdr-md: .5rem;
--bdr-lg: .8rem; 


  /* Sizes */ 
--size-1: .5rem;
--size-2: .75rem;
--size-3: 1rem;
--size-4: 1.5rem;
--size-5: 2rem;
}





/* -- Global -- */ 
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background: var(--clr-bg-grey);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

img,
svg,
picture {
  display: block;
  width: 100%;
}





/* -- Typography -- */
@font-face {
  font-family: "Inter";
  src: url("./font/Inter-var.ttf");
  display: swap;
}

body {
  background: var(--clr-bg-grey);
  font-family: "Inter", sans-serif;
}

.text-12,
.text-13,
.text-14 {
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 130%;
}

.text-13,
.text-14 {
  line-height: 140%;
}

.text-12 {
  font-size: 12px
}

.text-13 {
  font-size: 13px
}

.text-14 {
  font-size: 14px
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 600;
}

input, 
button, 
textarea, 
select {
  font: inherit;
}





/* -- Blocks -- */
header {
  background: var(--clr-grey-300);
  padding: var(--size-3);
}





/* -- Components -- */ 

  /* button */ 
.btn {
  background: var(--clr-grey-200);
  border: none;
  border-radius: var(--bdr-md);
  color: var(--clr-light);
  padding: var(--size-1);
  text-decoration: none;

  & svg {
    transform: scale(1.2);
  }
}

  /* logo */
.logo {
  height: 34px;
  width: 34px;
}

  /* notification */
.notification {
  background: transparent;
  width: 38px;
}


  /* Plan Notifier */ 
.plan-notifier {
  background: var(--clr-grey-300);
  color: var(--clr-light);
  margin-inline: auto;
  max-width: 800px;
  padding: var(--size-3);
  position: relative;
  width: 100%;

  & button {
    width: fit-content;
  }

  & div {
    position: relative;
  }

  .close-plan-notifier {
    background: transparent;
    border: none;
    color: white;
    font-size: var(--size-4);
    padding: 0px;
    padding-top: 0px;
    margin-bottom: var(--size-3);

    &:is(
      :hover,
      :active,
      :focus) {
      color: red;
    }
  }
}

  /* Search */
.search{
  background: var(--clr-grey-200);
  border: 1px solid var(--clr-s200);
  border-radius: var(--bdr-md);
  padding-block: var(--size-1);
  width: 100%;

  .search-icon {
    height: 14px;
    margin-left: .8rem;
    margin-right: .6rem;
    transform: scale(1.4);
    width: 13px;

    & path {
      fill: var(--clr-search);
    }
  }

  .search-box {
    background: transparent;
    border: none;
    color: var(--clr-search);
    outline: none;
    width: 100%;

    &::placeholder {
      color: var(--clr-search);
    }

    &:is(
      :hover, 
      :active, 
      :focus ) {
      outline: none;
    }
  }
}

/* store-btn */ 
.store-btn {
  background: var(--clr-grey-200);
  border: none;
  border-radius: var(--bdr-md);
  color: var(--clr-light);
  text-decoration: none;
  padding: 0px;

  & .store-full-name {
    display: none;
    padding-inline: var(--size-1);
    text-wrap: nowrap;
    text-transform: capitalize;
  }

  & .store-init-name {
    background: var(--clr-green);
    border-radius: calc(var(--bdr-md) * .8);
    color: var(--clr-dark-green); 
    display: block;
    padding: var(--size-1);
    text-transform: uppercase;
  }
}





/* -- Utilites -- */ 
.align-center {
  align-items: center;
} 

.flex-dir-row {
  flex-direction: row;
}

.flex-dir-col {
  flex-direction: column;
}

.flex-flow {
  display: flex;
}

.hide {
  display: none;
}

.gap-sm {
  gap: .5rem;
}

.gap-md {
  gap: 1rem;
}

.gap-lg {
  gap: 1.5rem;
}

.grid-flow {
  display: grid;
  /*gap: ;*/
  justify-content: start;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.mt-2rem {
  margin-bottom: 2rem;
}

.space-btw {
  justify-content: space-between;
}






/* -- Media Query -- */ 
@media screen and (min-width: 800px) {

  /* > Components < */
  .logo {
    width: 102px;
  }

  .plan-notifier {
    border-radius: var(--bdr-md);

    .close-plan-notifier {
      margin-bottom: 0px;
    }
  }

  .notification {
    background: var(--clr-grey-200);
  }

  .search {
    width: 480px;
  }

  .store-btn {
    padding: 2px;

    & .store-full-name {
      display: block;
    }
  }
}
