/* --GENERAL STYLES-- */
:root {
  --clr-darrk-cyan: hsl(185, 75%, 39%);
  --dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

html, body {
  margin: 0;
}

p {
  font-size: 18px;
}


/* --COMPONENT STYLES-- */



/* --OTHERS-- */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }