/* Variables */

@use "sass:map";

$sizes: (
  "fontBase": 1.125rem,
  "sm": .5rem,
  "md":  .75rem,
  "lg":  1rem,
  "xl":  1.25rem,
  "xxl": 1.5rem
);

$fontWeight: (
  "light": 300,
  "med": 400,
  "bold": 600
);

$colors: (
  "softBlue": hsl(215, 51%, 70%),
  "cyan": hsl(178, 100%, 50%),
  "vDarkBlue1": hsl(217, 54%, 11%),
  "vDarkBlue2": hsl(216, 50%, 16%),
  "vDarkBlue3": hsl(215, 32%, 27%),
  "white": hsl(0, 0%, 100%)
);




/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background: map.get($colors, "vDarkBlue1");
  display: grid;
  place-content: center;
  margin: 0;
  min-height: 100vh;
}

main {
  width: fit-content;
  height: fit-content;
}

img {
  width: 100%;
}

/* Typography */

body {
  font-family: sans-serif;
}

.title {
  font-weight: bold;
}



/* Component */
  
.card {
  background: map.get($colors, "vDarkBlue2"); 
  color: map.get($colors, "softBlue");
  font-size: map.get($sizes, "fontBase");
  font-weight: map.get($fontWeight, "light");
  padding: map.get($sizes, "xxl");
  max-width: 100%;
  margin: 1.5rem;
  width: 350px;

  
  & .title {
    color: map.get($colors, "white");
    font-size: map.get($sizes, "xxl");
    text-decoration: none;
  }

  & .img-view img {
    aspect-ratio: 1/1;
  }

  & .text {
   line-height: 2rem; 
  }

  & .icon {
    max-width: 25px;

  }

  & .card-details {
    display: flex;
    flex-wrap: warp;
    justify-content: space-between;
  }
  
  & .value, & .days {
    gap: .5rem;
    white-space: nowrap;
  }


  & p {
    margin: 0;
  }

  & line {
    border-top: 1px solid map.get($colors, "vDarkBlue3");
    width: 100%;
  }

 

}






.attribution {
  color: map.get($colors, "softBlue");
  text-align: center;

  & a {
    color: blue;
  }
}



/* Utility */

.fw-bold {
  font-weight: map.get($fontWeight,"bold");
}

.fw-med {
  font-weight: map.get($fontWeight, "med");
}

.grid-flex {
  display: grid;
  align-content: start;
  gap: 1rem;
}

.pointer {
  cursor: pointer;
}

.sr-only {
  display: none;
}


.v-center {
  display: flex;
  flex-warp: nowrap;
  align-items: center;
}

