/** Global Styles **/
:root {
  --size-sm: .5rem;
  --size: .75rem;
  --size-md: 1rem;
  --size-lg: 1.5rem;

  
  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-bright-blue: hsl(245, 75%, 52%);
  --clr-accent: hsl(245, 75%, 52%);
  --clr-accent-hover: hsl(244, 82.6% ,68.4%);
  --hsl-accent-hover: 244, 82.6% ,68.4%;
  
  --clr-very-pale-blue: hsl(225, 100%, 98%);
  --clr-desaturated-blue: hsl(224, 23%, 55%);
  --hsl-desaturated-blue: 224, 23%, 55%;
  --clr-dark-blue: hsl(223, 47%, 23%);
}

*, 
*:before,
*:after {
  font-size: inherit; 
  box-sizing: border-box;
}

html {
}
 

html,
body {
  background: url("../images/pattern-background-mobile.svg"), var(--clr-pale-blue);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% auto;
  display: grid;
  font-family: 'Red Hat Display', sans-serif;
  margin: 0;
  min-height: 100vh;
  place-content: center;
  text-rendering: optimizeSpeed;
  width: 100%;
}

@media screen and (min-width: 600px) {
  html,
  body {
    background: url("../images/pattern-background-desktop.svg"), var(--clr-pale-blue);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% auto;
  }
}

svg,
img {
  max-width: 100%;
}

main {
  height: fit-content;
  margin: auto;
  min-width: 240px; 
  padding-inline: var(--size-md);
  width: fit-content;
}


/** Component Styles **/


.btn.link {
  text-decoration: underline;
  color: var(--clr-accent);
  cursor: pointer;
}

.btn-link:hover {
  color: var(--clr-accent-hover);
}

.card-img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}


.heading {
  font-weight: bold;
}

.plan-icon {
  width: fit-content;
  height: fit-content;
}

.summary {
  line-height: 1.7rem;
  max-width: 31ch;
  margin-inline: auto;
  margin-top: .5rem;
}

.title {
  font-size: 1.75rem;
  font-weight: 900;
  margin-bottom: .7rem;
}

.text {
  color: var(--clr-desaturated-blue);
}


/** Block **/ 
.btn-group-vert {
  display: block;
  gap: var(--size-lg);
  padding-bottom: 1rem;
}

.btn-group-vert > a {
  display: block;
}

.card {
  border-radius: var(--size-lg);
  box-shadow: 0px 1rem 1.5rem .5rem hsl(var(--hsl-desaturated-blue), .2);
  margin: auto;
}

.plan {
  align-items: center;
  background: var(--clr-very-pale-blue);
  border-radius: var(--size);
  padding: var(--size-md);
  justify-content: space-between;
}

.plan-details {
  align-items: center;
  gap: var(--size-md);
}

.plan-name-duration {
  align-items: center;
  justify-content: start;
  gap: .2rem;
}

.sub-card {
  background: white;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding-block: var(--size-lg); 
  padding-inline: 2rem; 
  text-align: center;
}




/** Utility **/
.btn {
  border: 0;
  background: transparent; 
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  width: fit-content;
}

.btn-accent {
  background: var(--clr-accent);
  box-shadow: 0px 1rem 1.5rem .5rem hsl(var(--hsl-accent-hover), .2);
  color: white;
}

.btn-accent:hover {
  background: var(--clr-accent-hover)
}

.btn-block {
  padding: var(--size-md);
}

.btn-inline {
  color: var(--clr-desaturated-blue);
}

.btn-inline:hover {
  color: black;
}

.btn-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.grid-flex {
  align-content: start;
  display: grid;
  gap: var(--size-lg);
}

.mx-auto {
  margin-inline: auto;
}

.rounded {
  border-radius: var(--size);
}

.attribution { padding-top:1rem; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }