/** Global Styles **/
:root {
  --rounded-sm: .5rem;
  --rounded-md: .75rem;
  --rounded-lg: 1rem;
}

*, 
*:before,
*:after {
  font-size: inherit; 
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  text-rendering: optimizeSpeed;
}

svg,
img {
  max-width: 100%;
}


/** Component Styles **/



/** Utility Styles **/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }