@use "sass:map";

/* Variables */
$colors: (
	"bright-orange": hsl(31, 77%, 52%),
	"dark-cyan": hsl(184, 100%, 22%),
	"very-dark-cyan": hsl(179, 100%, 13%),
	"trans-white": hsla(0, 0%, 100%, 0.75),
	"very-light-gray": hsl(0, 0%, 95%)
);

$cards-bg: (
	"sedans": map.get($colors, "bright-orange"),
	"suvs": map.get($colors, "dark-cyan"),
	"luxury": map.get($colors, "very-dark-cyan")
);

$icons: (
	"sedans": "icon-sedans.svg",
	"suvs": "icon-suvs.svg", 
	"luxury": "icon-luxury.svg" 
);





/* Global */
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
} 





/* Typography */ 
body {
	background: map.get($colors, "very-light-gray");
	font-family: "Lexend Deca";
	font-size: 15px;
	display: grid;
	place-content: center;
}





/* Components */ 
.icon {
	aspect-ratio: 1/1;
	border-radius: 100%;
	// background: #00000030;
	width: 40px;
}


.cards {
	margin: 1.5rem;
}

.card {
	padding: 3rem;

	&:first-of-type {
		border-radius: .6rem .6rem 0 0;
	}
	
	&:last-of-type {
		border-radius: 0 0 .6rem .6rem;
	}

	& .title {
		color: map.get($colors, "very-light-gray");
		font-family: "Big Shoulders";
		font-size: 2.25rem;
		margin-block: .5rem;
		text-transform: uppercase;
	}

	& article {
		color: map.get($colors, "trans-white");
		line-height: 1.5rem;
		max-width: 320px;
	}


	@each $key, $color in $cards-bg {
		&[data-card-type="#{$key}"] {
			background: $color;	

			.btn-white {
				border: 2px solid map.get($colors, "very-light-gray");
				background: map.get($colors, "very-light-gray");
				color: $color;

				&:hover {
					background: $color;
					color: map.get($colors, "very-light-gray");
				}
			}

			& .icon::after {
				content: url("../../images/#{map.get($icons, $key)}");
				height: 100px;
				width: 100px;
			}

		}
	}
}

.btn {
	border-radius: 3rem;
	font-family: inherit;
	font-weight: bold;
	padding-block: .8rem;
	padding-inline: 1.5rem;
	width: fit-content;
}



.attribution {
	padding-bottom: 1rem;
	text-align: center;
}





/* Utility */
.grid-flex {
 display: grid;
 gap: 1.5rem;
}

.sr-only {
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	-webkit-clip-path: inset(50%);
	padding: 0px;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}




/* Media Queries */ 
@media screen and (min-width: 900px) {
	.cards {
		display: flex;
		flex-wrap: nowrap;

	}

	.card {
		& article {
		 width: 200px;
		}


		&:first-of-type {
			border-radius: .6rem 0 0 .6rem;
		}
		
		&:last-of-type {
			border-radius: 0 .6rem .6rem 0;
		}
	}
}
